/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

/* About Section */
#about {
    background-color: #ffffff;
    padding: 40px 0;
}

#about h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#about p {
    font-size: 16px;
}

/* Projects Section */
#projects {
    background-color: #e0e0e0;
    padding: 40px 0;
}

#projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.project {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.project h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}

/* Contact Section */
#contact {
    background-color: #ffffff;
    padding: 40px 0;
}

#contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Style pour les icônes sociales */
.social-icons {
    margin-top: 20px;
}

.social-icon {
    font-size: 32px;
    color: #333;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #0077b5; /* Couleur LinkedIn */
}

.social-icon:nth-child(2):hover {
    color: #333; /* Couleur GitHub */
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
